.module{
    height: 100vh;
    background-color: black;
}
  .div__h4{
    position: absolute;
    box-shadow: 0px 4px 4px 0px rgba(255, 255, 255, 0.25);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .h4{
    color: white;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.914px;
    font-size: 20px;
    line-height: 6.752px;
    padding: 2.97px;
    margin: 1.5rem;
  }
  .span{
    font-size: 18px;
  }
  h4>span{
    background-color: white;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    line-height: 6.752px;
    padding: 2.97px;
    
  }
  .img{
    margin: 1.5rem;

  }

  .circle {
    width: 70px;
    height: 70px;
    background-color: #333;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 1.5rem;
    right: 1.5rem;
  }
  
.long-arrow-right{
  display: block;
  margin: 30px auto;
  width: 25px;
  height: 25px;
  border-top: 5px solid #fff;
  border-left: 5px solid #fff;
 transform: rotate(45deg);
 border-radius: 3px;
}
.long-arrow-right::after{
  content: "";
  display: block;
  width: 5px;
  height: 45px;
  background-color: white;
  transform: rotate(-45deg) translate(14px, 2px);
  left: 0;
  top: 0;
 border-radius: 3px;
}

@media (max-width: 700px) {
  .h4{
    font-size: 15px;
  }
  .span{
    font-size: 15px;
  }
  .circle {
    width: 50px;
    height: 50px;
  }
  
.long-arrow-right{
  display: block;
  width: 15px;
  height: 15px;
  border-top: 5px solid #fff;
  border-left: 5px solid #fff;
 transform: rotate(45deg);
 border-radius: 3px;
}
.long-arrow-right::after{
  content: "";
  display: block;
  width: 5px;
  height: 25px;
  background-color: white;
  transform: rotate(-45deg) translate(7px, 2px);
  left: 0;
  top: 0;
 border-radius: 3px;
}
}